@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'DynaPuff', cursive;
    background-color: #B95BD5;
}

/* header element */

header {
    background: white;
    padding: 20px;
}

header>h1 {
    text-align: center;
}

/*score area*/

.score-bord {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    font-size: 45px;
    padding: 15px 20px;
    position: relative;
}

.box {
    background-color: #35CEC8;
    font-size: 14px;
    padding: 2px 10px;
}

#player {
    position: absolute;
    top: 27px;
    left: -34px;
    border-radius: 50%;
}

#player:hover {
    cursor: pointer;
}

#computer {
    position: absolute;
    top: 27px;
    right: -34px;
    border-radius: 50%;
}

#computer:hover {
    cursor: pointer;
}

/*result area*/

.result {
    font-size: 30px;
    text-align: center;
}

/*game area*/

.buttons {
    margin: 120px 0 80px 0;
    text-align: center;
}

.pick {
    border: 3px solid white;
    margin: 0 20px;
    padding: 10px;
    display: inline-flex;
    transition: all 0.3s ease;
}

.pick:hover {
    cursor: pointer;
    background: black;
}

/*message*/

.message {
    text-align: center;
    font-size: 20px;
}

/*footer*/

footer {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
}

.finish:hover {
    cursor: pointer;
}

/*diferent images size and font depend on screen size*/

@media screen and (max-width: 820px) {
    footer {
        position: relative;
    }
}

@media screen and (min-width: 550px) {
    .buttons {
        width: 100%;
        margin: 120px 0 80px 0;
        text-align: center;
    }

    .pick {
        width: 200px;
        height: 150px;
        border: 3px solid white;
        margin: 0 20px;
        padding: 10px;
        display: inline-flex;
        transition: all 0.3s ease;
    }

    img {
        margin: 0 auto;
        width: 200px;
        height: 150px;
    }

    .box {
        font-size: 20px;
    }
}

/*style buttons to see if we win , loose or draw*/

.green-win {
    border: 4px solid green;
}

.red-loose {
    border: 4px solid red;
}

.grey-draw {
    border: 4px solid #464647;
}